<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : 'Dragon Fog System' %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag 'application', media: 'all' %>

    <!-- favicon -->
    <!-- 144 x 144 pixels -->
    <%= favicon_link_tag 'favicon.png', rel: 'icon', type: 'image/png', sizes: '144x144' %>
    <!-- 114 x 114 pixels -->
    <%= favicon_link_tag 'favicon.png', rel: 'icon', type: 'image/png', sizes: '114x114' %>
    <!-- 72 x 72 pixels -->
    <%= favicon_link_tag 'favicon.png', rel: 'icon', type: 'image/png', sizes: '72x72' %>
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'favicon.png', rel: 'icon', type: 'image/png' %>
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', rel: 'icon' %>

    <%= javascript_include_tag 'application' %>
  </head>

  <body ng-app="bfapp">
    <div class="wrapper">
      <%= render partial: 'layouts/top_navigation_bar' %>
      <div style="float: left; margin-top: 10px; width: 100%;">
        <%= yield %>  
      </div>
    
      <div class="container" ui-view>
        <!--%= bootstrap_flash %-->
      </div>

      <div class="push"></div>
    </div>
    <div class="clearfix"></div>
    

    <footer>
      <p></p>
    </footer>

    <script>
      $(document).ready(function() {
        <%= yield(:script_on_load) %>
      });
    </script>

    <%= render partial: 'common/analytics' %>
  </body>
</html>
