<div style="width: 100%; float: left; padding-left: 30px; padding-right: 30px;">
  <h2>Sign up</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>
    <ul>
      <% if f.object.errors.any? %>
        <% f.object.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      <% end %>
    </ul>

    <div class="form-inputs">
      <%= f.input :email, required: true, autofocus: true %>
      <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
      <%= f.input :password_confirmation, required: true %>
      <%= f.input :phone_number, required: true %>

      <% f.object.profile || f.object.build_profile %>
      <%= f.simple_fields_for :profile do |p| %>
        <%= p.input :first_name %>
        <%= p.input :last_name %>
        <%= p.input :dob, as: :date, start_year: Date.today.year - 90, end_year: Date.today.year %>
      <% end %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Sign up" %>
    </div>
  <% end %>

  <%= render "users/shared/links" %>
</div>